<p>Oba! Vendemos sua peça! </p>

<p>Segue a relação de itens vendidos no último mês e o total da sua comissão. Daqui a 30 dias, seu dinheiro estará disponível para saque na lojinha física!</p>

<p>Lembramos que, segundo o contrato assinado, a não retirada desse valor após 45 dias do envio deste relatório, implicará na retirada deste valor apenas por crédito em peças do Brechó, válidos por mais 30 dias. Após esse período, o crédito se reduz a 50% , válidos pelo período de 60 dias.</p>

<p>Aguardamos seu agendamento via direct no Instagram @closetdagirafa ✨</p>
