.index-card--body .w-100 {
  height: 46px;
  margin-top: 2rem;

  a {
    margin-right: 0.1rem;
  }
}

.btn-back {
  padding: 0.1rem 0.5rem !important;
}

.btn-back-icon {
  font-size: 15px;
  position: relative;
  top: 3px;
  right: 3px;
}

.card-divisor {
  display: block;
  margin: 8% 0 8% 0;
  width: 100%;
  height: 10px;
  border-bottom: 1px solid #a5a5a5;
}

.form-label {
  width: 100%;
  margin-bottom: 5%;
}
